@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}


body {
  background: var(--primary-color);
}
h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
#theme-btn {
  margin-left: 40%;
  border: 1px solid var(--item-color);
  background: var(--box-color);
  color: var(--item-color);
  width: 350px;
  height: 40px;
}
.item-white {
  color: var(--item-color);
}
button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
.button {
  border: none;
  background: none;
}
.theme-box {
  margin: auto;
  margin-top: 240px;
  width: 398px;
  height: 310px;
  background: var(--box-color);
}
.theme-header {
  display: flex;
}
.theme-settings {
  position: relative;
  top: 24px;
  left: 24px;
  width: 350px;
  height: 262px;
}
.theme-settings-box {
  width: 50px;
  height: 50px;
  background: var(--settings-box-color);
  border-radius: 8px;
}
.theme__icon {
  margin-top: 13.75px;
  margin-left: 13.75px;
  width: 22.5px;
  height: 22.5px;
}
.theme-info {
  line-height: 4px;
  margin-top: -20px;
  margin-left: 24px;
}
.theme-settings__title {
  color: var(--title-color);
  margin-top: 15px;
}
.theme-settings__login {
  color: var(--login-color);
}
.theme-list {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  margin-left: -40px;
  list-style: none;
}
.icon-button {
  margin-left: -115px;
}
.action {
  position: absolute;
  top: 65px;
  left: 330px;
}
.theme-list__item {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
}
.list row {
  flex-direction: row;
}
.unactive {
  margin-top: -5px;
  color: var(--login-color);
}
.password-button {
  border: 1px solid #4db5e4;
  background: var(--box-color);
  color: var(--item-color);
  width: 100%;
  height: 40px;
  margin-top: -50px;
}
/** Popup seciton **/
#popup {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: var(--box-color);
  width: 594px;
  height: 182px;
  padding: 48px 0px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  visibility: hidden;
}
#popup.active {
  visibility: visible;
  top: 50%;
}
#popup .content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#popup .content h2 {
  margin-left: -395px;
  color: var(--content-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
#popup .content p {
  margin-top: -17px;
  width: 498px;
  height: 84px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--title-color);
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.active {
  visibility: visible;
  top: 50%;
}
.close-icon {
  color: #1FA2DE;
}


@media( prefers-color-scheme: dark ) {
 :root {
  --primary-color: #2D2D2D;
  --box-color: #252525;
  --settings-box-color: #404040;
  --item-color: #31BEFF;
  --title-color: #FFFFFF;
  --login-color: #919191;
  --content-color: #F8F8F8;
 }

 #close {
  content: url('../assets/dark-close.png');
 }
}

@media( prefers-color-scheme: light ) {
  :root {
    --primary-color: #F8F8F8;
    --box-color: #FFFFFF;
    --settings-box-color: #E6F4FB;
    --item-color: #1FA2DE;
    --title-color: #252525;
    --login-color: #919191;
    --content-color: #252525;
  }
 
  #close {
   content: url('../assets/close.png');
  }
 }


