body {
  background: #F8F8F8;
}
h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
p {
  color: #1FA2DE;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
.button {
  border: none;
  background: none;
}
.white-theme-box {
  margin: auto;
  margin-top: 240px;
  width: 398px;
  height: 310px;
  background: #FFFFFF;
}
.white-theme-header {
  display: flex;
}
.white-theme-settings {
  position: relative;
  top: 24px;
  left: 24px;
  width: 350px;
  height: 262px;
}
.white-theme-settings-box {
  width: 50px;
  height: 50px;
  background: #E6F4FB;
  border-radius: 8px;
}
.white-theme__icon {
  margin-top: 13.75px;
  margin-left: 13.75px;
  width: 22.5px;
  height: 22.5px;
}
.white-theme-info {
  line-height: 4px;
  margin-top: -20px;
  margin-left: 24px;
}
.white-theme-settings__title {
  color: #252525;
  margin-top: 15px;
}
.white-theme-settings__login {
  color: #919191;
}
.white-theme-list {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: -40px;
  list-style: none;
}
.white-theme-list__item {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
}
.list row {
  flex-direction: row;
}
.unactive {
  color: #919191;
}
.white-theme-button {
  border: 1px solid #4db5e4;
  background: #fff;
  color: #1FA2DE;
  width: 100%;
  height: 40px;
  margin-top: -3px;
}
/** Popup seciton **/
#popup {
  position: fixed;
  /*фиксированное позиционирование*/
  top: -100%;
  /*прячем окно за пределы видимости*/
  left: 50%;
  /*позиция окна слева*/
  transform: translate(-50%, -50%);
  z-index: 1000;
  /*на верхний слой*/
  background: #fff;
  width: 594px;
  height: 182px;
  padding: 48px 0px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  visibility: hidden;
  /*скрываем окно*/
}
#popup.active {
  visibility: visible;
  /*показываем окно*/
  top: 50%;
  /*окно выдвигается сверху*/
}
#popup .content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#popup .content h2 {
  margin-left: -345px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
#popup .content p {
  margin-top: -10px;
  width: 428px;
  height: 84px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #252525;
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.active {
  visibility: visible;
  top: 50%;
}
